@import '~bpk-mixins';

.SearchResultsActions {
  display: flex;
  padding: $bpk-spacing-sm;
  background-color: $bpk-color-white;
  color: $bpk-color-blue-500;

  &__action-item {
    margin-right: $bpk-spacing-xxl;

    &--is-last {
      margin-right: $bpk-spacing-sm;
      margin-left: auto;
    }
  }

  &__alert-icon {
    fill: currentColor;
    margin-right: 2px;
  }
}
