@import '~bpk-mixins';

.SearchResultsError {
  display: flex;
  min-height: 15rem;
  margin: $bpk-spacing-md $bpk-spacing-sm;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Message {
    margin-bottom: $bpk-spacing-md;
    color: $bpk-color-red-500;
    text-align: center;
  }
}
