@import '~bpk-mixins';

.SearchResultsHeader {
  padding: $bpk-spacing-sm;
  background-color: $bpk-color-blue-500;
  color: $bpk-color-white;

  &__top {
    display: flex;
    align-items: center;
    font-size: $bpk-font-size-root * 3.4;
    line-height: $bpk-font-size-root * 1.2;
    text-transform: uppercase;
  }

  &__arrow {
    margin: .5rem;
    fill: currentColor;
  }

  &__bottom {
    font-size: $bpk-font-size-base * 1.2;
    font-weight: 300;
  }
}
