@import '~bpk-mixins';

.SearchResultsHeader {
  background-color: $bpk-color-blue-500;
  color: $bpk-color-white;
  padding: $bpk-spacing-sm;

  &__top {
    display: flex;
    align-items: center;
    font-size: $bpk-font-size-root * 3.4;
    line-height: initial; // TODO Franciskone: spike if we can avoid this
    text-transform: uppercase;
  }

  &__arrow {
    fill: currentColor;
    margin: 0.5rem;
  }

  &__bottom {
    font-size: $bpk-font-size-base * 1.2; // TODO Franciskone: find a better way to get this font-sizes
    font-weight: 300;
  }
}