@import '~bpk-mixins';

.SearchResultsList {
  max-width: $bpk-spacing-base * 30;
  margin: auto;
  padding: $bpk-spacing-sm;
}

.SeeMore {
  display: flex;
  margin-bottom: $bpk-spacing-base;
  justify-content: center;
}
