@import '~bpk-mixins';

.SearchResultsList {
  padding: $bpk-spacing-sm;
  max-width: 960px;
  margin: auto;
}

.SeeMore {
  display: flex;
  justify-content: center;
  margin-bottom: $bpk-spacing-base;
}
